:root {
    --primary-color: #0d61ae;
    --secundary-color: #8b96ad;
    --call-to-action: linear-gradient(
      -147deg,
      rgba(244, 132, 39, 1) 2%,
      rgba(238, 62, 150, 1) 86%
    );
  }
  
  /* btnType */
.bg_primary {
    background: var(--primary-color);
}
.bg_secondary {
    background: var(--secundary-color);
}
.bg_CTA{
    text-transform: uppercase;
    background: var(--call-to-action);
}

.txt_primary {
  color: var(--primary-color);
}
.txt_secondary {
  color: var(--secundary-color);
}

.clasedeprueba{
  font-size: 5rem;
}