.card_lb {
  box-sizing: border-box;
  width: 180px;
  padding: 1rem 0.8rem 1.5rem 0.8rem;
  border-radius: 15px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.card_lb.shadow {
  box-shadow: 0px 4px 18px -1px rgba(0, 0, 0, 0.2);
}
.card_lb.module {
  height: 230px;
}

.card_lb.apps {
  height: 170px;
}

/* Info Icon*/
.iconInfo-container {
  position: relative;
}
.iconInfo-container > span {
  position: absolute;
  right: 0;
  color: #8598a7;
  font-size: 25px;
}
/*Principal icon */
.iconPrimary-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto 0 auto;
  width: 75px;
  height: 75px;
  font-size: 55px;
  background-color: #fff;
  border-radius: 50%;
}

/* descripcion*/
.card_lb .description {
  font-weight: bold;
  color: #0e1d3a;
}
.card_lb.apps .description {
  font-size: 0.9rem;
  margin: 0.5rem;
}
.card_lb.apps .iconPrimary-container {
  width: 60px;
  height: 60px;
  margin: 0.5rem auto;
  font-size: 40px;
}

/*INfo text*/

.infoText {
}

.card_lb .back {
  position: absolute;
  overflow-y: scroll;
}
