
.icon_container{
	width: fit-content;
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}


/* icon size */
.icon_lg {
	font-size: 2rem;
}
.icon_md {
	font-size: 1.5rem;
}
.icon_sm {
	font-size:1rem
}

/*Icon bg shape*/
.icon_container.circle{
	
	border-radius: 50%;
}